<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tesseract.DoctorSaheb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Recommend3"></activity>
        <activity android:name=".Recommend2" />
        <activity android:name=".Recommend" />
        <activity android:name=".WebView" />
        <activity android:name=".ViewAppointment" />
        <activity android:name=".Login" />
        <activity android:name=".ViewEvents" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DoctorDetails" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DrugListActivity" />
        <activity android:name=".DrugDetailsActivity" />
    </application>

</manifest>